<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Ajax 應用練習</h1>
    <hr>
    <h3>學會獲取json格式資料並顯示在demo上面</h3>
    <div id = demo></div>

    <h3>學會將json格式資料用table呈現</h3>
    <button id = "btn1">點一下</button>
    <div id = "table"></div>

    <h3>獲取json檔案中的資料呈現在網頁上</h3>
    <button id = "btn2">點一下</button>
    <div id = "div2"></div>

    <h3>使用ajax()</h3>
    <button id = "btn3">點一下</button>
    <div id = "result"></div>
    
</body>
</html>